.navbar {
    /*Shadow effects for navbar*/
    -webkit-box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);
    box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);

    /* the rest of your styling */
}

#logo {
    padding-right: 4px;
    padding-bottom: 4px;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.7;

    background: no-repeat fixed center;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("../images/capital_building.jpg");
    min-height: 75%;
}

.bgimg-2 {
    /*background-image: url("../images/main_page_background.jpg");*/
    background-image: url("../images/capital_building.jpg");
    min-height: 25%;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;

}

.caption span.border {
    /*background-color: white;*/
    color: #048f35;
    font-weight: inherit;
    padding: 18px;
    letter-spacing: 10px;
    /*text-transform: uppercase;*/
    font: 60px "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
    .caption span.border {
        background-color: #31a23b;
        color: #fff;
        margin-top: 10px;
        padding: 18px;
        font-size: 15px;
        letter-spacing: 10px;
    }

}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #ddd;
}

.parallax-text-1 {
    color: white;
    background-color: #282E34;
    text-align: justify;
    font-size: 15px;
    padding: 50px 10%;
}

.parallax-text-2 {
    /*color: #ddd;*/

    padding: 50px 10%;
    background-color: #ffffff;
    /*padding: 50px 80px;*/
    text-align: justify;
    font-size: 15px;
}

.border-text {
    background-color: transparent;
    background-size: 100px;
    font-size: 25px;
    color: #f7f7f7;
    text-shadow: 2px 2px 8px #000000;
}