.navbar {
    /*Shadow effects for navbar*/
    -webkit-box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);
    box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);

    /* the rest of your styling */
}

body, html {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    color: #777;
}

.bg-custom {
    background-color: #274933 !important;
}

a:link {
    color: grey;
}

a:hover {
    color: darkgreen;
}

#logo {
    padding-right: 4px;
    padding-bottom: 4px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #cdcdcd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    position: relative;
    margin: 10px 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.bgimg-1, .bgimg-2 {
    position: relative;
    /*opacity: 0.7;*/
    background: no-repeat fixed center;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../images/background.jpeg");
    min-height: 100%;
    background-position-x: 80%;
    z-index: -1;

}

.bgimg-2 {
    min-height: 25%;
    background-size: cover;
    background: url("../images/background.jpeg") no-repeat left;
}

.caption {
    position: absolute;
    left: 0;
    top: 70%;
    /*width: 100%;*/
    text-align: center;
    color: #000;

}

.caption span.custom {
    background-color: transparent !important;
    color: #048F34 !important;
    padding: 18px;
    position: absolute;
    left: 10%;
    border: 0px transparent;
    letter-spacing: 10px;
    text-transform: uppercase;
    font: 40px "Lato", sans-serif;

}

.scroll-down-image {
    position: absolute;
    bottom: 5%;
    margin-left: 47%;
}

.auto-tab {
    padding-left: 2em;
}

.navbar-image {
    content: url("../images/logo_name.png");
}

@media screen and (max-width: 420px) {

    .caption span.border {
        background-color: transparent !important;
        color: black !important;
        padding: 18px;
        position: absolute;
        border: 0px transparent;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 15px;
    }

    .scroll-down-image {
        position: absolute;
        bottom: 5%;
        margin-left: 39% !important;
    }

    .auto-tab {
        padding-left: 0em;
    }

    .navbar-image {
        content: url("../images/icon.png");
    }

}

@media screen and (max-width: 767px) {
    .caption span.custom {
        background-color: transparent !important;
        color: black !important;
        padding: 18px;
        position: absolute;
        border: 0px transparent;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 30px;
    }

    .bgimg-1 {
        background: url("../images/background.jpeg") no-repeat fixed center left -1000px;
    }

    .scroll-down-image {
        position: absolute;
        bottom: 5%;
        margin-left: 45%;
    }

    .auto-tab {
        padding-left: 0;
    }

    .navbar-image {
        content: url("../images/icon.png");
    }

}

.parallax-text-1 {
    color: white;
    background-color: #282E34;
    text-align: justify;
    font-size: 15px;
    padding: 50px 10%;
}

.parallax-text-2 {
    /*color: #ddd;*/
    padding: 50px 6%;
    background-color: #ffffff;
    /*padding: 50px 80px;*/
    text-align: justify;
    font-size: 15px;
}

.auto-cols {
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

.bg-footer {
    background-color: #2a2e34 !important;
}

.center-text {
    text-align: center;
}

.contact-section {
    height: 50%;
}

#scrollDownImage {
    outline: none;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

#homescreenCaption {
    -webkit-animation-duration: 2s;
}

.contact-icon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-grey {
    background-color: grey;
}

h2 {
    text-align: center;
}

.description {
    text-align: left;
}