.navbar {
    /*Shadow effects for navbar*/
    -webkit-box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);
    box-shadow: -2px -7px 18px 9px rgba(0, 0, 0, 0.18);

    /* the rest of your styling */
}

#logo {
    padding-right: 4px;
    padding-bottom: 4px;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 0.7;
    background: no-repeat fixed center;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../images/background.png");
    min-height: 100%;
}

.bgimg-2 {
    min-height: 25%;
    background: no-repeat bottom;
    background-position-y: 50%;
    background-size: cover;
    background-image: url("../images/contact-us.jpg");
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;

}

.caption span.custom {
    background-color: transparent !important;
    color: black !important;
    padding: 18px;
    position: absolute;
    left: 10%;
    border: 0px transparent;
    letter-spacing: 10px;
    text-transform: uppercase;
    font: 40px "Lato", sans-serif;

}

.scroll-down-image {
    position: absolute;
    bottom: 5%;
    margin-left:47%;
}

@media screen and (max-width: 420px) {

    .caption span.border {
        background-color: transparent !important;
        color: black !important;
        padding: 18px;
        position: absolute;
        border: 0px transparent;
        letter-spacing: 10px;
        text-transform: uppercase;
        font: 15px "Lato", sans-serif;
    }

    .scroll-down-image {
    position: absolute;
    bottom: 5%;
    margin-left:42%;
}

}

@media screen and (max-width: 767px) {
    .caption span.custom {
        background-color: transparent !important;
        color: black !important;
        padding: 18px;
        position: absolute;
        border: 0px transparent;
        letter-spacing: 10px;
        text-transform: uppercase;
        font: 30px "Lato", sans-serif;
    }

    .bgimg-1 {
        background: url("../images/background.png") no-repeat fixed center left -1000px;
    }

   .scroll-down-image {
    position: absolute;
    bottom: 5%;
    margin-left:45%;
}


}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #ddd;
}

.parallax-text-1 {
    color: white;
    background-color: #282E34;
    text-align: justify;
    font-size: 15px;
    padding: 50px 10%;
}

.parallax-text-2 {
    /*color: #ddd;*/
    padding: 50px 6%;
    background-color: #ffffff;
    /*padding: 50px 80px;*/
    text-align: justify;
    font-size: 15px;
}

.bg-footer {
    background-color: #343a40 !important;
}

.center-text {
    text-align: center;
}

.contact-section {
    height: 50%;
}

#scrollDownImage {
    outline: none;

    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

#homescreenCaption {
    -webkit-animation-duration: 3s;
}

.contact-icon {
    padding-top: 10px;
    padding-bottom: 10px;
}