<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, sink-to-fit=no">
    <title>Emerald Rose Tax</title>
    <link rel="icon" href="../images/icon.png">
    <link rel="stylesheet" href="../css/style.css"/>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-112183241-1');
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white py-2">
    <a class="navbar-brand" href="index.html">
        <img id="logo" class="navbar-image" height="80px" src="../images/logo_name.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon" style="border: 0px transparent;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>

            <!--Hidden Resources page-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="templates/resources.html">Resources</a>-->
            <!--</li>-->

            <!--Hidden about us page-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="templates/about.html">About</a>-->
            <!--</li>-->

            <li class="nav-item active">
                <a class="nav-link" href="templates/contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="bgimg-2"></div>
<div class="parallax-text-2 bg-white contact-section ">
    <h3 class="center-text">Contact Us</h3>
    <div class="row" style="height: 100%">
        <iframe width="100%" height="100%"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.397715773612!2d-77.10708564846455!3d39.097414542632855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7cdff989a3331%3A0x1bc8c93d56aeb728!2s5200+Norbeck+Rd%2C+Rockville%2C+MD+20853!5e0!3m2!1sen!2sus!4v1516300265646"
                frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-envelope mr-xl-5"></i> <a
                    href="mailto:info@emeraldrosetax.com?subject=Inquiry from website"><br>info@emeraldrosetax.com</a>
            </h5>
        </div>
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-phone mr-xl-5"></i> <a href="tel://1-301-460-4350"><br>+1 301 460 4350</a></h5>
        </div>
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-print mr-xl-5"></i><br> 240 238 2919</h5>
        </div>
    </div>
</div>
<!--Footer-->
<footer class="page-footer stylish-color-dark bg-footer text-white" style="padding-top: 1px ">
    <!--Footer Links-->
    <div class="container" style="margin-bottom: 3px;">
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-5  pb-3 pt-5">
            <!--First column-->
            <div class="col-md-4 col-lg-5 col-xl-5 mx-auto mt-3">
                <h5 class="title mb-4 font-weight-bold">Emerald Rose Tax LLC</h5>
                <p>At Emerald Rose Tax LLC we offer individualized services to meet your tax and accounting needs.
                    Julia W. Baker, CPA, is committed to building sustainable business relationships. She will take
                    the
                    time to understand your individual situation in order to provide the support you need.
                </p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix bg-grey d-md-none">
            <!--Fourth column-->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="title mb-4 font-weight-bold">Contact</h5>
                <p><i class="fa fa-home mr-1"></i> 5200 Norbeck Road
                    Rockville, MD 20853
                </p>

                <p><i class="fa fa-envelope  mr-1"></i> <a
                        href="mailto:info@emeraldrosetax.com?subject=Inquiry from website">info@emeraldrosetax.com</a>
                </p>
                <p><i class="fa fa-phone  mr-1"></i> <a href="tel://1-301-460-4350">+1 301 460 4350</a></p>
                <p><i class="fa fa-print  mr-1"></i> 240 238 2919</p>
            </div>
        </div>
        <hr class="bg-grey">
        <div class="row py-3 d-flex">
            <div class="col-md-8 col-lg-9 align-middle">
                <p class="text-center text-md-left grey-text align-middle ">Designed and Maintained by <a
                        href="https://www.asperlab.com"><strong>AsperLab</strong></a></p>
            </div>
            <div class="col align-middle center-text">
                <a href="sitemap.xml"><strong>Sitemap</strong></a>

            </div>
        </div>
    </div>
</footer>



<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>