<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Emerald Rose Tax</title>
    <link rel="icon" href="../images/icon.png">
    <link rel="stylesheet" href="../css/style.css"/>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-112183241-1');
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white  py-2">
    <a class="navbar-brand" href="#">
        <img id="logo" height="40px" src="../images/icon.png">
        Emerald Rose Tax, LLC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon" style="border: 0px transparent;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link " href="../templates/resources.html">Resources</a>-->
            <!--</li>-->
            <!--<li class="nav-item ">-->
                <!--<a class="nav-link " href="../templates/about.html">About</a>-->
            <!--</li>-->
            <li class="nav-item active">
                <a class="nav-link" href="../templates/contact.html">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="bgimg-2"></div>
<div class="parallax-text-2 bg-white contact-section ">
    <h3 class="center-text">Contact Us</h3>
    <div class="row" style="height: 100%">
        <iframe width="100%" height="100%"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.397715773612!2d-77.10708564846455!3d39.097414542632855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7cdff989a3331%3A0x1bc8c93d56aeb728!2s5200+Norbeck+Rd%2C+Rockville%2C+MD+20853!5e0!3m2!1sen!2sus!4v1516300265646"
                frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-envelope mr-xl-5"></i> <a
                    href="mailto:info@emeraldrosetax.com?subject=Inquiry from website" ><br>info@emeraldrosetax.com</a>
            </h5>
        </div>
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-phone mr-xl-5"></i> <a href="tel://1-301-460-4350"><br>+1 301 460 4350</a></h5>
        </div>
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-phone mr-xl-5"></i> <a href="tel://1-301-460-4350"><br>+1 301 460 4350</a></h5>
        </div>
        <div class="col-sm contact-icon">
            <h5><i class="fa fa-print mr-xl-5"></i><br> 240 238 2919</h5>
        </div>
    </div>
</div>
<!--Footer-->
<footer class="page-footer stylish-color-dark bg-footer text-white">
    <!--Footer Links-->
    <div class="container">
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
            <!--First column-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="title mb-4 font-bold">Emerald Rose Tax</h6>
                <p>Emerald Rose is committed to providing individuals and small business with an effective and
                    hassle-free way to do your taxes.
                </p>
            </div>
            <!--/.First column-->
            <!--<hr class="w-100 clearfix d-md-none">-->
            <!--Second column-->
            <!--<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">-->
            <!--<h6 class="title mb-4 font-bold">Products</h6>-->
            <!--<p><a href="#">item 1</a></p>-->
            <!--<p><a href="#">item 2</a></p>-->
            <!--<p><a href="#">item 3</a></p>-->
            <!--<p><a href="#">item 4</a></p>-->
            <!--</div>/-->
            <!--/.Second column-->
            <!--<hr class="w-100 clearfix d-md-none">-->
            <!--Third column-->
            <!--<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">-->
            <!--<h6 class="title mb-4 font-bold">Useful links</h6>-->
            <!--<p><a href="#">Something 1</a></p>-->
            <!--<p><a href="#">Something 2</a></p>-->
            <!--<p><a href="#">Something 3</a></p>-->
            <!--<p><a href="#">Something 4</a></p>-->
            <!--</div>-->
            <!--/.Third column-->
            <hr class="w-100 clearfix d-md-none">
            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="title mb-4 font-bold">Contact</h6>
                <p><i class="fa fa-home mr-3"></i> 5200 Norbeck Road; Rockville, MD 20853</p>
                <p><i class="fa fa-envelope mr-3"></i> <a
                        href="mailto:info@emeraldrosetax.com?subject=Inquiry from website">info@emeraldrosetax.com</a>
                </p>
                <p><i class="fa fa-phone mr-3"></i> <a href="tel://1-301-460-4350">+1 301 460 4350</a></p>
                <p><i class="fa fa-print mr-3"></i> 240 238 2919</p>
            </div>
        </div>
        <hr>
        <div class="row py-3 d-flex">
            <div class="col-md-8 col-lg-9 align-middle">
                <p class="text-center text-md-left grey-text align-middle">Designed and Maintained by <a
                        href="https://www.asperlab.com"><strong>AsperLab</strong></a></p>
            </div>
            <div class="col align-middle">
                <a href="../sitemap.xml"><strong>Sitemap</strong></a>
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../js/form.js"></script>

</body>
</html>